{# Arquivo html.twig padrão onde todos os componentes são renderizados #}
{% extends 'base.html.twig' %} {# utiliza como base o arquivo padrão do twig #}

{% block title %}Pacientes - ACME{% endblock %}

{% block body %}
    <div id="app"></div> <!--Dentro dessa div é renderizado todos os components react-->
{% endblock %}
